* @InferenceX/core

# AMD master config
configs/amd-master.yaml @billishyahao @chunfangamd @seungrokj @yctseng0211 @1am9trash

# NVIDIA master config
configs/nvidia-master.yaml @ankur-singh @kedarpotdar-nv @InferenceX/core

# PoR for Models & general direction
MODELS.md @ankur-singh @chunfangamd @InferenceX/core
MODELS_zh.md @ankur-singh @chunfangamd @InferenceX/core

# OperatorX experimental
experimental/operatorx/ @hbarclay
