[submodule "utils/trace-replay"]
	path = utils/trace-replay
	url = https://github.com/vngcloud/kv-cache-tester.git
	branch = agentx-minimized
[submodule "utils/aiperf"]
	path = utils/aiperf
	url = https://github.com/vngcloud/aiperf.git
	branch = cjq/weka-live-assistant-responses
[submodule "utils/aiperf-mooncake"]
	path = utils/aiperf-mooncake
	url = https://github.com/thangquang09/aiperf.git
	branch = benchtool/aiperf-0.9.0
