[submodule "utils/aiperf"]
	path = utils/aiperf
	url = https://github.com/vngcloud/aiperf-semi.git
[submodule "utils/srt-slurm"]
	path = utils/srt-slurm
	url = https://github.com/NVIDIA/srt-slurm.git
