[submodule "utils/trace-replay"]
	path = utils/trace-replay
	url = https://github.com/vngcloud/kv-cache-tester.git
	branch = agentx-minimized
[submodule "utils/aiperf"]
	path = utils/aiperf
	url = https://github.com/vngcloud/aiperf.git
	branch = cjq/weka-live-assistant-responses
